{% block html_head_container %}
{% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}
    <body class="{{body_class}}" data-template="base.twig">
        <header class="header" >
            {% block header %}
            <div class="wrapper">

                <h1 class="hdr-logo" role="banner">
                    <a class="hdr-logo-link" href="/" rel="home">{{site.name}}</a>
                </h1>
                
                <nav id="nav-main" class="nav-main" role="navigation">
                    <ul class="nav">
                    {% for item in menu.get_items %}
                        <li class="nav-item {{item.classes | join(' ')}}">
                            <a class="nav-link" href="{{item.get_link}}">{{item.title}}</a>
                            {% if item.get_children %}
                                <ul class="nav nav-drop">
                                {% for child in item.get_children %}
                                    <li class="nav-drop-item">
                                        <a class="nav-link" href="{{child.get_link}}">{{child.title}}</a>
                                    </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </nav><!-- #nav -->

            </div>
            {% endblock %}
        </header>


        <section id="content" role="main" class="content-wrapper">
            {% if title %}<h1>{{title}}</h1>{% endif %}
            <div class="wrapper {{sidebar_class}}">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>
            {% if sidebar %}
                <aside class="layout-sidebar">
                    {{sidebar}}
                </aside>
            {% endif %}
        </section>

        {% block footer %}
            <footer id="footer">
                {% include 'footer.twig' %}
            </footer>
            {{ function('wp_footer') }}
        {% endblock %}
    </body>
</html>
