<div class="wrap">
<h2 class="timber-logo"><img src="{{timber_base}}images/logo/timber-badge-large.jpg" class="timber-logo-img" /></h2>

<h3>Getting Started</h3>
<p>This is a quick getting-started guide to using Timber in your theme. It requires a solid knowledge of HTML and a basic understanding of PHP.</p>

<ol class="steps">
	<li>
		<h4>Open your {{home_file}}</h4>
		<p>Using your favorite text editor, open up {{home_file.name}} inside of {{theme_dir}}. If you're working off your server, you'll need to use an FTP program like Cyberduck or Transmit.</p>
	</li>
	<li>
		<h4>You should see this:</h4>
		<pre><code>
			{{home_file.contents}}
		</code></pre>
</ol>

</div>